body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bounce {
  display: inline-block;
  background-color: bisque;
  border-radius: 10px;
  text-align: center;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.project-card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 123, 255,0.5);
}
.project-card:hover img {
  transform: scale(1.1);
}
.project-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.7);
  transform: translateY(100%);
  transition: transform 0.4s ease;
  border-radius: 0 0 15px 15px;
}
.project-card:hover .project-overlay {
  transform:  translateY(0);
}
.profile-img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.profile-img:hover {
  transform: scale(1.05);
}
